# Auto detect text files and perform LF norm
*.js linguist-language=java

*.css linguist-language=java

*.html linguist-language=java

*.js linguist-language=jsp

*.css linguist-language=jsp

*.html linguist-language=jsp
